h1 {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 3em;
  font-family: var(--font-primary);
  color: var(--old-gold);
  text-shadow: 1px 1px 8px black;
  margin-bottom: 15px;
  // text-shadow: 1px 1px 8px rgba(var(--old-gold-rgb), 0.5);
}
