:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

div#logo-image img {
  width: 500px;
  height: 500px;
  filter: drop-shadow(0 0 20px rgba(var(--old-gold-rgb), 0.5));
}

h1 {
  font-size: 2em;
  margin: 0px;
  padding: 7px;
  font-family: var(--font-primary), serif;
  color: var(--text-primary);
}

h1#company-title {
  font-size: 3.5em;
  color: var(--old-gold);
  text-transform: uppercase;
  text-shadow: 1px 1px 7px rgba(var(--old-gold-rgb), 0.5);
}
