:host {
  animation: fade-in-page 0.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes fade-in-page {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

#card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  color: white;
  width: 200px;
  height: 200px;
  padding: 30px;
  border-radius: 15px;
  background-color: var(--bg-primary);
  border: 2px solid var(--old-gold);
  box-shadow: 1px 1px 8px 0px rgba(var(--old-gold-rgb), 0.5);
  transition: all 0.15s ease-in-out;
}

#card:hover {
  transform: scale(1.01);
  border: 2px solid white;

  #media-icon {
    filter: drop-shadow(0 0 8px rgba(var(--white-gold-rgb), 0.7));
  }

  #name {
    text-shadow: 0px 0px 8px rgba(var(--white-gold-rgb), 0.6);
  }
}

#media-icon {
  text-align: center;
  font-size: 5.2em;
  color: var(--old-gold);
  filter: drop-shadow(0 0 8px rgba(var(--white-gold-rgb), 0.5));
  transition: filter 0.2s ease;
}

#media- h1,
p {
  margin: 0px;
  padding: 0px;
}

h1#name {
  color: var(--old-gold);
  text-shadow: 0px 0px 3px rgba(var(--old-gold-rgb), 0.5);
}

p#description {
  text-align: center;
  color: white;
}
